<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.nyakuar.myposts">

    <uses-permission android:name="android.permission.ACCEPT_HANDOVER" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_background"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_background"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyPosts"
        tools:targetApi="31">
        <activity
            android:name=".Activity_view_post"
            android:exported="false" />
        <activity
            android:name=".CommentActivity"
            android:exported="false" />
        <activity
            android:name=".post_list"
            android:exported="false" />
        <activity
            android:name=".Activity_view_comment"
            android:exported="false" />
        <activity
            android:name=".activit_view_comment"
            android:exported="false" />
        <activity
            android:name=".activity_view_point"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".activity_view_point" -->
        <activity
            android:name=".dapMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>